body {
  background-color: rgb(138, 2, 2);
}
.conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 40px;

}
table,td {
   border-collapse: collapse;
   padding: 10px;
   text-align: center;
   font-family: Verdana;
   font-size: 20px;
   margin: auto;
   color: black;
   background-color: greenyellow;
   
}
tr :hover{
  background-color: blue;
}

th {
  background-color: crimson;
  
}
.mode {
  margin-left: 90px;
}
.dark {
  background-color: black;
  color: #fff;
}